 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <d <p>Hi., i have Experienced with a demonstrated history of working in challenging and fast-paced environments where his performance directly impacts the bottom line in the construction industry. </p>
                </div>
                <div class="col-lg-4">
                    <p>Skilled in AutoCAD, Microsoft Office, Communication, Management, and Leadership. Strong Professional Knowledge with a Bachelor's of Engineering (BE) focused in Civil Engineering from Savitribai Phule Pune University. Sunil wants to work in a dynamic environment where he can use his expertise in Work with quality standards within the given time frame! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="www.linkedin.com/in/suniljaybhaye" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> View 
                    </a>
                </div>
            </div>
        </div>
    </section>
